*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: hsl(208, 43, 83);
   
    background-repeat: no-repeat;
    background-size: cover;
    
}

ul{
    list-style-type:none;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
   font-family: 'ABeeZee', sans-serif;
  
    
}


html,body{
    height:100%;
} 



.buttonlink{
    
    text-decoration: none;
  
}
.topic{
    position:absolute;
   // background-color: lawngreen;
    width:100%;
    text-align:center;
    margin-top: 35px;
}
.typetwo{
    margin-top:30px;
    font-family: 'Open Sans', sans-serif;
    padding:10px ;
    width:200px;
    text-align: center;
    border:1px solid #191820;
    border-radius:0.5em;
    cursor: pointer;
    background-color:transparent;
    color:#191820;
    font-weight:900;
    font-size: 16px;
    outline:none;
    &:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
   
    background-color:white;
    color:#010039;
    border:none;
   
    }
    &:active{
        background-color:#191820;
        color:white;
    }
   
}
.main{
    position: relative;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center; 
    height:150px;
}
.article{
    position:relative;
}
.burger {
    display:none;
    div{
    width:25px;
    height:3px;
    background-color: #191820;
    margin:5px;
    transition: all 0.3s ease;
}
}

.companyname{
    font-size: 22px;
    letter-spacing: 2px;
    color:#191820;
    font-weight: 900;
  
}

.grid-container {
   width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 70px 150px auto 50px;
   //grid-gap:10px;
    height:100%;
   
    
}
// .grid-items{
  
//    background-color: indianred;
// }
.imagecontainer{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.image{ 
    height:313px;
    width:470px;
    clip-path: circle(160px);
    z-index:1;
    animation:blink 5s ;
   
}
.nav-links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:60%;
    a{
        text-decoration: none;
        color:#191820;
        font-weight: bold;
        &:hover{
            color: #4e534f;
            border-bottom:2px dashed #4e534f;
            padding-bottom: 10px;
            font-size: 15px;
        }

    }

}
.layer{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     color:#191820;
    
 }
@keyframes navLinkFade {
    from {
        opacity:0;
        transform: translateX(50px);
    }
    to {
        opacity:1;
        transform: translateX(0px);
    }
}
.newclass {
    .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
        opacity:0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

#foot{
    text-align: center;
    color:#191820;
    font-family: 'ABeeZee';
    font-size: 0.9em;
    margin: 20px;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid #191820;
    border-left:thin solid #191820;
}
